<style>
  #wrapper {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 10px;
    background-color: #EAEAEA;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 15px 15px 50px grey;
  }
</style>
<div id="wrapper">
  <table>
      <tr>
        <td>
          Task id is <%= @task.id %>: <%= @task.description %>
        </td>
        <td>
          <%= link_to edit_task_path(@task) do %>
          <i style="width: 80px; text-align:right;" class="fa fa-pencil-square-o"></i>
          <% end %>
        </td>
        <td>
          <%= link_to task_path(@task), method: :delete do %>
          <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
  </table>
  <hr>
  <%= link_to "<= back to Todo", tasks_path %>
</div>
